@* @model MyNewApp.Models.Item *@
@* @{ *@
@* } *@
@* <p>This is the Item Name:  *@
@*     @Model.Name *@
@* </p> *@
@* <p> *@
@*     Description: *@
@*     @Model.Description *@
@* </p> *@


@* @{ *@
@* 	var items = new List<string> { "Item 1", "Item 2", "Item 3" }; *@
@* } *@
@* <ul> *@
@* 	@foreach(var item in items) *@
@* 	{ *@
@* 		<li>@item</li> *@
@* 	} *@
@* </ul> *@



 @{ 
 	var isLoggedIn = true; 
 } 
 @if (isLoggedIn) 
 { 
 	<p>Welcome back!</p> 
 } 
 else 
 { 
 	<p>Please Log In</p> 
 } 


 @* @model MyNewApp.Models.MyViewModel  *@
 @* <form asp-action="Submit">  *@
 @* 	<div>  *@
 @* 		<input asp-for="Name" />  *@
 @* 	</div>  *@
 @* 	<button type="submit">Submit</button>  *@
 @* </form>  *@